body{
    padding: 0;
    margin: 0;
    font-family: "Battambang", system-ui;
    font-size: 20px;

}
.header-container-full{
    width: 100%;
    height: 100px;
    background-color: black;
    margin-top: 10px;

}
.header-container{
    width: 75%;
    height: 100px;
    margin: auto;
    margin-bottom: 0%;
}
.header-container .logo{
    width: 20%;
    height: 100px;

}
.header-container .logo img{
    height: 90%;
    margin: 5px 5px;

}
.menu-container-full{
    width: 100%;
    height: 50px;
    margin-top: 0;
    background-color: red;
    position: sticky;
    top: 0;
    z-index: 10;

}
.menu-container-full .menu-container{
    width: 75%;
    height: 50px;
    margin: auto;
 
}
.menu-container ul{
    list-style-type: none;
    padding: 0;
    margin: 0;

}
.menu-container ul li{
    float: left;
}
.menu-container ul li a{
    font-size: 20px;
    height: 30px;
    padding: 10px 10px;
    display: block;
    text-decoration: none;
    font-family: "Koulen", sans-serif;
    color: white;
    opacity: 0.8;
  
}
.menu-container ul li a:hover{
    opacity: 1;
    background-color: blueviolet;
}
.homepage-container-full{
    width: 75%;
    height: 450px;
    margin: auto;
    margin-top: 0;
}
.homepage-container-full .content{
    width: 69%;
    height: 100%;
    margin-right: 1%;
    background-color: red;
    float: left;
}
.content .content-new{
    width: 60%;
    height: 50%;
    background-color: purple;
    float: left;
    overflow: hidden;
    
}
.content .content-new:nth-child(2){
    width: 40%;
    height: 50%;
    background-color: forestgreen;
    
}
.content .content-new:nth-child(3){
    height: 50%;
    background-color: brown;
    
}
.content .content-new:nth-child(4){
    width: 40%;
    height: 50%;
    background-color: gold;
    
}
.bg-img{
    background-position: center;
    background-size: cover;
}
.bg-img:first-child{
    background-image: url("1.jpeg");
    opacity: 1;
    
}
.bg-img:first-child:hover{
    opacity: 0.9;
    
}
.bg-img:nth-child(2){
    background-image: url("2.jpg");
    
}
.bg-img:nth-child(2):hover{
    opacity: 0.9;
    
}
.bg-img:nth-child(3){
    background-image: url("3.jpg");
    
}
.bg-img:nth-child(3):hover{
    opacity: 0.9;
    
}
.bg-img:nth-child(4){
    background-image: url("4.jpg");

}
.bg-img:nth-child(4):hover{
    opacity: 0.9;
    
}
.homepage-container-full .ads-content{
    width: 30%;
    height: 100%;
    background-color: blue;
    float: right;
}
.homepage-container-full .ads-content .Ads{
    width: 100%;
    height: 50%;
    background-color: yellowgreen;
    float: left;
}
.ads-content .Ads img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.content-new .title p{
    transform: translateX(-8px);
}
.content-new .title{
    width: 120px;
    height: 30px;
    background-color: violet;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    color: aqua;
    margin-top: 5px;
    -webkit-clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 25%, 75% 0);
  clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 100%, 75% 0);

}
h2{
    font-size: 18px;
    margin-left: 10px;
    color: aquamarine;
    transition: 0.5s;
    text-shadow: 2px 3px 3px black;
    transform: translateY(100px);
}
span{
    font-size: 15px;
    opacity: 0;
}
h2:hover{
    transform: translateY(50px);
    color: red;
}
span:hover{
    opacity: 1;
    color: aqua;

}
.Video-homepage-full{
    width: 75%;
    height: 780px;
    margin: auto;
    
}
.box{
    width: 100%;
    height: 50px;
    border-bottom: 4px red solid;
    
}
.video-container{
    width: 13%;
    height: 100%;
    background-color: red;
    -webkit-clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 25%, 75% 0);
    clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 100%, 80% 0);
    
}
p{
    font-family: "Koulen", sans-serif;
    font-size: 20px;
    color: white;
    margin: 40px 30px; 
}
.video-homepage{
    width: 96.5%;
    height: 700px;
    margin: auto;
    padding: 2%;
    margin-top: 20px;
    border-style: solid;
    border-color: gray;
    box-shadow: 3px 3px 3px gray;
    background-color:white;
    
    
}

.video-homepage .homepage-full{
    width: 100%;
    height: 200px;

}
.video-homepage .homepage-full .video{
    width: 33%;
    height: 200px;
    margin-right: 0.33%;
    float: left;

}
.video-homepage .homepage-full .video:nth-child(2){
    width: 33%;
    height: 200px;
    margin-right: 0.33%;
    float: left;

}
.video-homepage .homepage-full .video:nth-child(3){
    width: 33%;
    height: 200px;
    float: left;

}
.bg-vd{
    background-position: center;
    background-size: cover;
}
.bg-vd:first-child{
    background-image: url("v1.png");
}
.bg-vd:nth-child(2){
    background-image: url("v2.png");
}
.bg-vd:nth-child(3){
    background-image: url("v3.png");
}
h3{
    font-size: 17px;
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 2px;
    color: rgba(0, 0, 0, 0.786);
    font-weight: bolder;

}
.video-homepage .homepage-full .news{
    width: 33.33%;
    height: 80px;
    background-color: white;
    float: left;

}
.video-homepage .homepage-full .news:nth-child(5){
    background-color: white;

}
.video-homepage .homepage-full .news:nth-child(6){
    background-color: white;

}
.small-homepage{
    width: 100%;
    height: 480px;

}
.small-homepage .page1{
    width: 70%;
    height: 400px;
}
.small-homepage .page1 .picture{
    width: 100%;
    height: 200px;
    float: left;
}.small-homepage .page1 .video-small{
    width: 23%;
    height: 50%;
    margin-right: 2%;
    float: left;
}
.bg-sm{
    background-position: center;
    background-size: cover;
}
.bg-sm:first-child{
    background-image: url("s1.png");
}
.bg-sm:nth-child(2){
    background-image: url("s2.png");
}
.bg-sm:nth-child(3){
    background-image: url("s3.png");
}
.bg-sm:nth-child(4){
    background-image: url("s4.png");
}
#h3{
    font-size: 14px;
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 2px;
    color: black;
    font-weight: 300;

}
.small-homepage .page1 .video-small:nth-child(5){
    background-color: white;

}
.small-homepage .page1 .video-small:nth-child(6){
    background-color: white;

}
.small-homepage .page1 .video-small:nth-child(7){
    background-color: white;

}
.small-homepage .page1 .video-small:nth-child(8){
    background-color: white;

}
.bg-sm1{
    background-position: center;
    background-size: cover;
}
.bg-sm1:first-child{
    background-image: url("s5.png");
}
.bg-sm1:nth-child(2){
    background-image: url("s6.png");
}
.bg-sm1:nth-child(3){
    background-image: url("s7.png");
}
.bg-sm1:nth-child(4){
    background-image: url("s8.png");
}
.header-komsan-full{
    width: 75%;
    height: 480px;
    margin: auto;

}
.header-komsan-full .header-komsan{
    width: 100%;
    height: 50px;
    border-bottom: 4px green solid;

}
.header-komsan-full .komsan-contain{
    width: 13%;
    height: 100%;
    background-color: green;
    -webkit-clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 25%, 75% 0);
    clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 100%, 80% 0);
}
.homepage-komsan{
    width: 95.5%;
    height: 400px;
    padding: 2%;
    margin-top: 20px;
    border-color: gray;
    border-style: solid;
    box-shadow: 3px 3px 3px gray;
    background-color:white;

}
.homepage-komsan .homepage-left{
    width: 30%;
    height: 100%;
    float: left;

}
.homepage-komsan .upstair{
    width: 100%;
    height: 60%;
    background-image: url("right.jpg");
    background-position: center;
    background-size: cover;
    float: left;

}
.homepage-komsan .under{
    width: 100%;
    height: 41%;
    margin-top: 65%;
    background-color: green;
    
}
h1{
    color: white;
    font-size: 25px;
    margin-left: 2%;
    
}
.homepage-komsan .homepage-right{
    width: 68%;
    height: 100%;
    margin-left: 32%;
    

}
.homepage-komsan .homepage-right .box-komsan{
    width: 100%;
    height: 49%;
    margin-bottom: 1%;
    float: left;
}
.photo-komsan{
    width: 24%;
    height: 58%;
    margin-right: 1%;
    margin-bottom: 1%;
    float: left;
}
.bg-ks{
    background-position: center;
    background-size: cover;

}
.bg-ks:first-child{
    background-image: url("p1.png");
}
.bg-ks:nth-child(2){
    background-image: url("p2.png");
}
.bg-ks:nth-child(3){
    background-image: url("p3.png");
}
.bg-ks:nth-child(4){
    background-image: url("p4.png");
}
.bg-ks1{
    background-position: center;
    background-size: cover;

}
.bg-ks1:first-child{
    background-image: url("p5.png");
}
.bg-ks1:nth-child(2){
    background-image: url("p6.png");
}
.bg-ks1:nth-child(3){
    background-image: url("p7.png");
}
.bg-ks1:nth-child(4){
    background-image: url("p8.png");
}
.news-komsan{
    width: 24%;
    height: 37%;
    margin-right: 1%;
    margin-bottom: 0;
    float: left;
}
.header-technology-full{
    width: 75%;
    height: 480px;
    margin: auto;
}
.header-technology-full .header-technology{
    width: 100%;
    height: 50px;
    border-bottom: 4px blue solid;
}
.header-technology-full .technology-contain{
    width: 13%;
    height: 100%;
    background-color: blue;
    -webkit-clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 25%, 75% 0);
    clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 100%, 80% 0);
}
.homepage-technology{
    width: 95.5%;
    height: 400px;
    padding: 2%;
    margin-top: 20px;
    border-color: gray;
    border-style: solid;
    box-shadow: 3px 3px 3px gray;
    background-color:white;

}
.homepage-technology .homepage-left{
    width: 30%;
    height: 100%;
    float: left;

}
.homepage-technology .homepage-left .upstair{
    width: 100%;
    height: 60%;
    background-image: url("left-ks.png");
    background-position: center;
    background-size: cover;
    float: left;

}
.homepage-technology .homepage-left .under{
    width: 100%;
    height: 41%;
    margin-top: 65%;
    background-color: blue;
    
}
h1{
    color: white;
    font-size: 25px;
    margin-left: 2%;
    
}
.homepage-technology .homepage-right{
    width: 68%;
    height: 100%;
    margin-left: 32%;
    

}
.homepage-technology .homepage-right .box-technology{
    width: 100%;
    height: 49%;
    margin-bottom: 1%;
    float: left;
}
.photo-technology{
    width: 24%;
    height: 58%;
    margin-right: 1%;
    margin-bottom: 1%;
    float: left;
}
.bg-tg{
    background-position: center;
    background-size: cover;

}
.bg-tg:first-child{
    background-image: url("k1.png");
}
.bg-tg:nth-child(2){
    background-image: url("k2.png");
}
.bg-tg:nth-child(3){
    background-image: url("k3.png");
}
.bg-tg:nth-child(4){
    background-image: url("k4.png");
}
.bg-tg-u{
    background-position: center;
    background-size: cover;

}
.bg-tg-u:first-child{
    background-image: url("k5.png");
}
.bg-tg-u:nth-child(2){
    background-image: url("k6.png");
}
.bg-tg-u:nth-child(3){
    background-image: url("k7.png");
}
.bg-tg-u:nth-child(4){
    background-image: url("k8.png");
}
.news-technology{
    width: 24%;
    height: 37%;
    margin-right: 1%;
    margin-bottom: 0;
    overflow: hidden;
    float: left;
}
.header-life-full{
    width: 75%;
    height: 480px;
    margin: auto;
    
}
.header-life-full .header-life{
    width: 100%;
    height: 50px;
    border-bottom: 4px yellow solid;

}
.header-life-full .life-contain{
    width: 18%;
    height: 100%;
    background-color: yellow;
    -webkit-clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 25%, 75% 0);
    clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 100%, 80% 0);
}
.homepage-life{
    width: 95.5%;
    height: 400px;
    padding: 2%;
    margin-top: 20px;
    border-color: gray;
    border-style: solid;
    box-shadow: 3px 3px 3px gray;
    background-color:white;

}
.homepage-life .homepage-left{
    width: 30%;
    height: 100%;
    float: left;

}
.homepage-life .homepage-left .upstair{
    width: 100%;
    height: 60%;
    background-image: url("left-ks.png");
    background-position: center;
    background-size: cover;
    float: left;

}
.homepage-life .homepage-left .under{
    width: 100%;
    height: 41%;
    margin-top: 65%;
    background-color: yellow;
    
}
h1{
    color: white;
    font-size: 25px;
    margin-left: 2%;
    
}
.homepage-life .homepage-right{
    width: 68%;
    height: 100%;
    margin-left: 32%;
    

}
.homepage-life .homepage-right .box-life{
    width: 100%;
    height: 49%;
    margin-bottom: 1%;

    float: left;
}
.photo-life{
    width: 24%;
    height: 58%;
    margin-right: 1%;
    margin-bottom: 1%;
    float: left;
}
.bg-le{
    background-position: center;
    background-size: cover;

}
.bg-le:first-child{
    background-image: url("k1.png");
}
.bg-le:nth-child(2){
    background-image: url("k2.png");
}
.bg-le:nth-child(3){
    background-image: url("k3.png");
}
.bg-le:nth-child(4){
    background-image: url("k4.png");
}
.bg-le1{
    background-position: center;
    background-size: cover;

}
.bg-le1:first-child{
    background-image: url("k5.png");
}
.bg-le1:nth-child(2){
    background-image: url("k6.png");
}
.bg-le1:nth-child(3){
    background-image: url("k7.png");
}
.bg-le1:nth-child(4){
    background-image: url("k8.png");
}
.news-life{
    width: 24%;
    height: 36%;
    margin-right: 1%;
    margin-bottom: 0;
    overflow: hidden;
    float: left;
}
.header-sport-full{
    width: 75%;
    height: 500px;
    margin: auto;
}
.header-sport-full .header-sport{
    width: 100%;
    height: 50px;
    border-bottom: 4px yellowgreen solid;

}
.header-sport-full .sport-contain{
    width: 18%;
    height: 100%;
    background-color: yellowgreen;
    -webkit-clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 25%, 75% 0);
    clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 100%, 80% 0);
}
.homepage-sport{
    width: 95.5%;
    height: 400px;
    padding: 2%;
    margin-top: 20px;
    border-color: gray;
    border-style: solid;
    box-shadow: 3px 3px 3px gray;
    background-color:white;

}
.homepage-sport .homepage-left{
    width: 30%;
    height: 100%;
    background-color: yellowgreen;
    float: left;

}
.homepage-sport .homepage-left .upstair{
    width: 100%;
    height: 60%;
    background-image: url("left-ks.png");
    background-position: center;
    background-size: cover;
    float: left;

}
.homepage-sport .homepage-left .under{
    width: 100%;
    height: 41%;
    margin-top: 65%;

    
}
h1{
    color: white;
    font-size: 25px;
    margin-left: 2%;
    
}
.homepage-sport .homepage-right{
    width: 68%;
    height: 100%;
    margin-left: 32%;
    

}
.homepage-sport .homepage-right .box-sport{
    width: 100%;
    height: 49%;
    margin-bottom: 1%;
    float: left;
}
.photo-sport{
    width: 24%;
    height: 58%;
    margin-right: 1%;
    margin-bottom: 1%;
    float: left;
}
.bg-sp{
    background-position: center;
    background-size: cover;

}
.bg-sp:first-child{
    background-image: url("k1.png");
}
.bg-sp:nth-child(2){
    background-image: url("k2.png");
}
.bg-sp:nth-child(3){
    background-image: url("k3.png");
}
.bg-sp:nth-child(4){
    background-image: url("k4.png");
}
.bg-sp1{
    background-position: center;
    background-size: cover;

}
.bg-sp1:first-child{
    background-image: url("k5.png");
}
.bg-sp1:nth-child(2){
    background-image: url("k6.png");
}
.bg-sp1:nth-child(3){
    background-image: url("k7.png");
}
.bg-sp1:nth-child(4){
    background-image: url("k8.png");
}
.news-sport{
    width: 24%;
    height: 36%;
    margin-right: 1%;
    margin-bottom: 0;
    overflow: hidden;
    float: left;
}
.homepage-footer-full{
    width: 100%;
    height: 300px;
    margin: auto;
    background-color: black;
}
.footer-full{
    width: 75%;
    height: 100%;
    margin: auto;

}
.footer1{
    width: 32%;
    height: 100%;
    float: left;
}
.footer1 .footer-logo img{
    width: 40%;
    height: 100%;
    margin-top: 30px;
    object-fit: cover;

}
#h11{
    font-size: 15px;
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 2px;
    color: rgba(255, 255, 255, 0.605);
    font-weight: 300;
    font-weight: bold;
    
}
#h22{
    font-size: 15px;
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 2px;
    color: rgba(255, 255, 255, 0.895);
    font-weight: 300;
    opacity: 0.8;
    font-weight: bold;
    
}
#h22:hover{
    opacity: 1;
    color: white;
}
#h33{
    font-size: 15px;
    margin-top: 10px;
    margin-left: 0;
    margin-bottom: 2px;
    color: rgba(255, 255, 255, 0.996);
    font-weight: 300;
    font-weight: bold;

}
#h44{
    font-size: 15px;
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 2px;
    color: rgba(255, 255, 255, 0.605);
    font-weight: 300;
    line-height: 20px;

}
.footer2{
    width: 46%;
    height: 100%;
    float: left;
}
#H11{
    font-size: 20px;
    height: 30px;
    padding: 10px 10px;
    display: block;
    text-decoration: none;
    font-family: "Koulen", sans-serif;
    color: rgba(255, 255, 255, 0.605);
    font-weight: lighter;
}
#h55{
    font-size: 15px;
    margin-top: 0;
    margin-left: 20px;
    margin-bottom: 2px;
    color: rgba(255, 255, 255, 0.605);
    font-weight: 300;

}
#lo1{
    margin-top: 10px;
    width: auto;
    height: 37px;
    margin-left: 20px;

}
.footer2 img{
    margin-top: 10px;
    width: auto;
    height: 37px;
}
.footer3{
    width: 22%;
    height: 100%;
    margin-left: 73%;

}
#H22{
    font-size: 20px;
    height: 30px;
    padding: 20px 10px;
    display: block;
    text-decoration: none;
    font-family: "Koulen", sans-serif;
    color: rgba(255, 255, 255, 0.605);
    font-weight: lighter;
}
.footer-contact .fa-brands {
    font-size: 20px;
    color: rgba(255, 255, 255, 0.605);
    opacity: 0.8;
}
.fa-brands:hover{
    opacity: 1;
    color: white;
}
#lo2{
    font-size: 20px;
    color: rgba(255, 255, 255, 0.605);
    opacity: 0.8;
    margin-left: 20px;
}
#lo2:hover{
    opacity: 1;
    color: white;

}
#span1{
    opacity: 0.8;
}
#span1:hover{
    opacity: 1;
    color: white;
}
#H33{
    font-size: 15px;
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 2px;
    color: rgba(255, 255, 255, 0.996);
    font-weight: 300;
    font-weight: bold;
}
.full-page{
    width: 75%;
    overflow: hidden;
    margin: auto;


}
.full{
    width: 74%;
    overflow: hidden;
    float: left;

}
.full .page-komsan{
    width: 99%;
    overflow: hidden;
    margin-right: 1%;
    float: left;
    border-color: gray;
    border-style: solid;
    box-shadow: 3px 3px 3px gray;
    background-color:white;
}
.header-komsan{
    width: 100%;
    height: 40px;
    border-bottom: 4px green solid;

}
.header-komsan .komsan-contain{
    width: 16%;
    height: 100%;
    background-color: green;
    -webkit-clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 25%, 75% 0);
    clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 100%, 80% 0);
}
.Ads-komsan{
    width: 25%;
    overflow: hidden;
    margin-left: 75%;
    margin-top: 0;


}
.Ads-komsan .ads-one{
    width: 100%;
    height: 250px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 0;
    background-image: url("ads1.jpg");
    background-position: center;
    background-size: cover;
}
.page-komsan .full-content{
    width: 96%;
    overflow: hidden;
    padding: 2%;
}
.page-komsan .full-content .picture-one{
    width: 49%;
    height: 200px;
    margin-right: 1%;
    background-image: url("pk1.png");
    background-position: center;
    background-size: cover;
    float: left;
}
.page-komsan .full-content .picture-two{
    width: 50%;
    height: 200px;
    background-image: url("pk2.png");
    background-position: center;
    background-size: cover;
    float: left;
}
.page-komsan .full-content .content-one{
    width: 49%;
    height: 100px;
    margin-right: 1%;
    float: left;
}
.page-komsan .full-content .content-two{
    width: 50%;
    height: 100px;
    float: left;
}
.full-contenting{
    width: 100%;
    overflow: hidden;
}
.full-contenting .Box1{
    width: 99%;
    height: 170px;
    margin-bottom: 10px;
    margin-left: 2%;

}
.Box1 .photo-one img{
    width: 34%;
    height: 100%;
    margin-right: 3%;
    background-position: center;
    background-size: cover;
    float: left;

}
.Box1 .news-one{
    width: 62%;
    height: 100%;
    margin-left: 35%;
    

}
.Topic{
    width: 100%;
    height: 60px;
    margin-top: 0;
    font-size: 20px;
    padding: 10px 10px;
    display: block;
    text-decoration: none;
    font-weight: lighter;
    font-family: "Koulen", sans-serif;
    color: rgba(0, 0, 0, 0.689);
    
}
#H-1{
    font-size: 17px;
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 2px;
    color: rgba(0, 0, 0, 0.786);
    font-weight: bolder;
}
#span2{
    opacity: 1;
    color: rgba(0, 0, 0, 0.474);
    font-weight: lighter;
}
small{
    color: rgba(0, 0, 0, 0.673);
    font-size: 17px;
    

}
#H-2{
    font-size: 14px;
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 2px;
    color: rgba(0, 0, 0, 0.786);
    font-weight: bolder;
}
.Ads-komsan .Box2 {
    width: 100%;
    height: 60px;
    margin-bottom: 5px;
}
.Box2 .photo-one img{
    width: 23%;
    height: 60px;
    margin-right: 1%;
    object-fit: cover;
    float: left;

}
.Box2 .news-one{
    width: 75%;
    height: 60px;
    margin-left: 25%;

}
.Ads-komsan .ads-two{
    width: 100%;
    height: 250px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 0;
    background-image: url("ads2.png");
    background-position: center;
    background-size: cover;
}




.full-page{
    width: 75%;
    overflow: hidden;
    margin: auto;


}
.full{
    width: 74%;
    overflow: hidden;
    float: left;

}
.full .page-komsan{
    width: 99%;
    overflow: hidden;
    margin-right: 1%;
    float: left;
    border-color: gray;
    border-style: solid;
    box-shadow: 3px 3px 3px gray;
    background-color:white;
}
.header-komsan{
    width: 100%;
    height: 40px;
    border-bottom: 4px green solid;

}
.header-komsan .komsan-contain{
    width: 16%;
    height: 100%;
    background-color: green;
    -webkit-clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 25%, 75% 0);
    clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 100%, 80% 0);
}
.Ads-komsan{
    width: 25%;
    overflow: hidden;
    margin-left: 75%;
    margin-top: 0;


}
.Ads-komsan .ads-one{
    width: 100%;
    height: 250px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 0;
    background-image: url("ads1.jpg");
    background-position: center;
    background-size: cover;
}
.page-komsan .full-content{
    width: 96%;
    overflow: hidden;
    padding: 2%;
}
.page-komsan .full-content .picture-one{
    width: 49%;
    height: 200px;
    margin-right: 1%;
    background-image: url("pk1.png");
    background-position: center;
    background-size: cover;
    float: left;
}
.page-komsan .full-content .picture-two{
    width: 50%;
    height: 200px;
    background-image: url("pk2.png");
    background-position: center;
    background-size: cover;
    float: left;
}
.page-komsan .full-content .content-one{
    width: 49%;
    height: 100px;
    margin-right: 1%;
    float: left;
}
.page-komsan .full-content .content-two{
    width: 50%;
    height: 100px;
    float: left;
}
.full-contenting{
    width: 100%;
    overflow: hidden;
}
.full-contenting .Box1{
    width: 99%;
    height: 170px;
    margin-bottom: 10px;
    margin-left: 2%;

}
.Box1 .photo-one img{
    width: 34%;
    height: 100%;
    margin-right: 3%;
    background-position: center;
    background-size: cover;
    float: left;

}
.Box1 .news-one{
    width: 62%;
    height: 100%;
    margin-left: 35%;
    

}
.Topic{
    width: 100%;
    height: 60px;
    margin-top: 0;
    font-size: 20px;
    padding: 10px 10px;
    display: block;
    text-decoration: none;
    font-weight: lighter;
    font-family: "Koulen", sans-serif;
    color: rgba(0, 0, 0, 0.689);
    
}
#H-1{
    font-size: 17px;
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 2px;
    color: rgba(0, 0, 0, 0.786);
    font-weight: bolder;
}
#span2{
    opacity: 1;
    color: rgba(0, 0, 0, 0.474);
    font-weight: lighter;
}
small{
    color: rgba(0, 0, 0, 0.673);
    font-size: 17px;
    

}
#H-2{
    font-size: 14px;
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 2px;
    color: rgba(0, 0, 0, 0.786);
    font-weight: bolder;
}
.Ads-komsan .Box2 {
    width: 100%;
    height: 60px;
    margin-bottom: 5px;
}
.Box2 .photo-one img{
    width: 23%;
    height: 60px;
    margin-right: 1%;
    object-fit: cover;
    float: left;

}
.Box2 .news-one{
    width: 75%;
    height: 60px;
    margin-left: 25%;

}
.Ads-komsan .ads-two{
    width: 100%;
    height: 250px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 0;
    background-image: url("ads2.png");
    background-position: center;
    background-size: cover;
}







